PASSWORD_ENTER=""
PROMPT_PASSWORD=""
PROMPT_SSID=""

SELECTION_DISCONECT=""
SELECTION_SCAN=""
SELECTION_STATUS=""
SELECTION_SHARE=""
SELECTION_MANUAL_HIDDEN=""
SELECTION_MANUAL=""
SELECTION_HIDDEN=""
SELECTION_WIFI_ON=""
SELECTION_WIFI_OFF=""
SELECTION_WIFI_DISABLED=""
SELECTION_ETH_ON=""
SELECTION_ETH_OFF=""
SELECTION_ETH_UNAVAILBLE=""
SELECTION_ETH_INITIALIZING=""
SELECTION_CHANGE_WIFI_INTERFACE=""
SELECTION_RESTAT_NETWORK=""
SELECTION_QRCODE=""
SELECTION_MORE_OPTIONS=""
SELECTION_OPEN_EDITOR=""
SELECTION_VPN=""

NOTIFICATION_WIFI_TILE=""
NOTIFICATION_WIFI_TILE_CONNECTION_OK=""
NOTIFICATION_WIFI_TILE_CONNECTION_ERROR=""
NOTIFICATION_WIFI_TILE_TERMINATED=""
NOTIFICATION_WIFI_ENABLE=""
NOTIFICATION_WIFI_DISABLE=""
NOTIFICATION_WIFI_SCANNING=""
NOTIFICATION_WIFI_CONNECTING=""
NOTIFICATION_WIFI_CONNECTED=""
NOTIFICATION_WIFI_DISCONNECTED=""
NOTIFICATION_WIFI_ERROR=""

NOTIFICATION_WIRED_TITLE=""
NOTIFICATION_WIRED_ENABLE=""
NOTIFICATION_WIRED_DISBALE=""

NOTIFICATION_VPN_TITLE_OK=""
NOTIFICATION_VPN_TITLE_ERROR=""
NOTIFICATION_VPN_TITLE_ACTIVATING=""
NOTIFICATION_VPN_TITLE_DEACTIVE=""
NOTIFICATION_VPN_CHECK=""

NOTIFICATION_NETWORK_TITLE=""
NOTIFICATION_NETWORK_RESTART=""